@model IEnumerable<WebApplication1.Models.Person>
@{
    
}

<h2>@ViewBag.Title</h2>


@foreach(var p in Model)
{
    <div>

        <h2>@p.FirstName</h2>
        <h3>@p.LastName</h3>

    </div>
    
}

